body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f9fafc;
  color: #001f3f;
}

section {
  padding: 100px 60px;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.hero {
  text-align: center;
  padding-top: 150px;
  background: linear-gradient(to bottom, #ffffff, #f3f6fc);
}

.about,
.skills,
.projects,
.contact {
  max-width: 1000px;
  margin: auto;
  line-height: 1.7;
}
